{% extends 'base.html' %}

{% block title %}
Головна сторінка
{% endblock %}

{% block body %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Archy's Site</h1>
    <p class="lead font-weight-normal">Вітаємо Вас на нашій сторінці. Наша компанія займається розробкою сайтів. Можете ознайомитися з нашими робітниками на вкладці About</p>
    <a class="btn btn-outline-secondary" href="/about">Coming soon</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
{% endblock %}